.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-3) var(--space-5);
  font-size: var(--fs-text);
  font-weight: var(--fw-semibold);
  letter-spacing: var(--ls-wide);
  color: white;
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s;
  text-transform: uppercase;
  
    &:hover {
    background-color: var(--color-btn-hover);
  }

  &--header {
    padding: var(--space-1) var(--space-2);
  }

  &--phone { 
    background-color: var(  --color-bg-light);
    color: var(--color-accent);
      &:hover {
      background-color: var(--color-bg-dark);
      color: white;
      }
  }
  
}