.card-feature {
    display: flex;
    gap: var(--space-4);
    padding: var(--space-4);
    background: var(--color-light);

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
    }

    &__summary { 
        display: flex;
        flex-direction: column;
        gap: var(--space-1);
    }

    &__title {
        
    }

    &__desc {
        
    }
}