.category {
    padding: var(--space-4);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-medium);

    &__dark { 
        background-color: var(--color-medium);
    }

    &__header { 
        margin-bottom: var(--space-4);
    }

    &__subtitle { 
        color: var(--color-black-60);
        font-weight: var(--fw-medium);
        font-size: var(--fs-text-sm);
        line-height: var(--lh-1);
        margin-bottom: var(--space-1);
    }

    &__features { 
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
        margin-bottom: var(--space-6);
    }

    &__feature { 
        display: flex;
        align-items: center;
        gap: var(--space-1);
    }

    &__footer { 
        display: flex;
    }
}