.site-branding {
    display: flex;
    align-items: center;
    gap: var(--space-1);

    &__link {
        display: flex;
        line-height: var(--lh-1);
    }

    &__logo { 
        line-height: var(--lh-1);
        width: auto;
        height: 44px;
    }
    
    &__additional {
        padding-left: var(--space-1);
        font-size: var(--fs-text-xs);
        color: var(--color-black-60);
        font-weight: var(--fw-semibold);
        line-height: var(--lh-1);
        border-left: 2px solid var(--color-black-60);
    }
}