.site-actions {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    &__phone {
        font-size: var(--fs-text);
        font-weight: var(--fw-semibold);
        line-height: var(--lh-text);
    }

    &__link {

    }
}