.stats {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    gap: var(--space-6);
    margin-top: var(--space-6);

    &__item {
        display: flex;
        align-items: center;
        gap: var(--space-2);
        text-align: center;
    }

    &__value {
        font-weight: var(--fw-semibold);
        font-size: var(--fs-h2-hero);
        line-height: var(--lh-1);
    }

    &__label {
        font-weight: var(--fw-regular);
        font-size: var(--fs-text-sm);
        color: var(--color-black-60);
    }
}