.team-cards {

    &__list { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: var(--space-2);
    }

    &__image { 
        display: flex;
        border-radius: var(--border-radius);
        overflow: hidden;
    }
}