h1,h2,h3,h4,h5,p {
    margin: 0
}

h1,h2 {
    font-weight: 600;
    font-family: var(--font-family-headling);
    line-height: 1.15
}

h3,h4,h5 {
    font-weight: 500
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2);
    line-height: 1.2
}

h3 {
    font-size: var(--fs-h3);
    line-height: 1.25
}

h4 {
    font-size: var(--fs-h4);
    line-height: normal
}

p {
    color: var(--color-black-60);
    line-height: 1.4;
}


ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.u-accent {
    color: var(--color-accent)
}