.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;

  &--wide {
    width: 100%;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  // &--narrow{

  // }
}
