.container {
  max-width: var(--container-width);
  // padding-right: var(--space-8);
  // padding-left: var(--space-8);
  margin-left: auto;
  margin-right: auto;

  &--hero {
    max-width: 100%;
    padding: 0 var(--space-4) 0 var(--space-4);
  }

  // &--narrow{

  // }
}
