.site-footer {
    background: var(--color-bg-dark);
    color: var(--color-white);
    padding-top: var(--space-9);

    &__grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: var(--space-2);
    }
    
    &__emblem {
        display: flex;
        width: 200px;
        height: auto;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
    }

    &__nav-title {
        font-size: var(--fs-h4);
        font-weight: var(--medium);
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }
    
    &__nav-item {
        color: var(--color-white-60);
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: var(--space-4);
        padding-bottom: var(--space-4);
        border-top: 1px solid var(--color-footer-border);
        margin-top: var(--space-9);
        font-size: var(--fs-text-sm);
        color: var(--color-white-60);
    }

    &__bottom-links {
        display: flex;
        gap: var(--space-1);
        color: var(--color-white);
        text-decoration: underline;
        font-size: var(--fs-text-xs);
        line-height: var(--lh-text);
    }
}