.grid {
  display: grid;
  gap: var(--space-2);

  &--4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &--3 {
  }

  &--2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
