.main-banner {
    padding-top: var(--space-9);
    padding-bottom: var(--space-9);
    padding-left: calc(var(--space-8) - var(--space-4));
    padding-right: calc(var(--space-8) - var(--space-4));
    border-radius: var(--border-radius);
    background: var(--color-bg-medium);
    position: relative;
    overflow: hidden;

    &__content { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-6);
        z-index: 1;
        position: relative;
    }

    &__header { 
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
    }

    &__desc {
        font-size: var(--fs-text-md);
        width: 45%;
    }

    &__img {
        position: absolute;
        height: 125%;
        width: auto;
        right: 0;
        bottom: -15%;
        display: flex;
    }
}